@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: inter;
}

body {
  background-color: white;
  display: flex;
  flex-direction: column;
}
header {
  display: grid;
  background-color: black;
  position: relative;
  top: 0;
  border-bottom: 3px rgb(200, 45, 45) solid;
  grid-column-start: 1;
  grid-column-end: 3;
  left: 0;
  right: 0;
  width: 100%;
  grid-template-columns: repeat(auto-fit, minmax(1fr, 2));
  justify-content: space-evenly;
}

nav {
  grid-column-start: 2;
}

.logo {
  grid-row-start: 1;
}

.headline {
  margin-top: 10px;
  grid-column-start: 3;
  grid-row-start: 1;
  max-width: 700px;
  font-size: 35px;
}

.aboutUs {
  max-width: 500px;
  text-align: left;
}

#content {
  display: grid;
  grid-template-rows: auto 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 30px;
  justify-items: center;
  margin: 0;
}
nav {
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-aboutUs {
  position: relative;
  grid-column-start: 3;
  width: 550px;
  height: auto;
}

.hour-containerTwo {
  border-left: red 2px solid;
}

.image-hTwo {
  position: absolute;
  top: 650px;
  right: 150px;
  width: 100%;
  margin: 0 auto;
  width: 300px;
  height: 50px;
}

.text-div {
  grid-column-start: 1;
  grid-column-end: 3;
  font-size: 24px;
  text-align: left;
  letter-spacing: normal;
  width: 1300px;
}

.aboutUs-container {
  display: flex;
  grid-column-start: 1;
  grid-column-end: 4;
  text-align: center;
  grid-row-start: 1;
  grid-row-end: 4;
  margin-top: 48px;
}
/* .headline:after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: -2px;
  left: 0;
  background-color:rgb(200, 45, 45);
  transform-origin: bottom right;
  transition: transform 0.5s ease-out;
}

.headline:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
} */

.imgTwo,
.foodUno {
  width: 100%;
  height: 231px;
  margin-bottom: 0;
}

.imgDiv {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  margin-left: 0;
  margin-right: 0;
  align-items: end;
}

.imgOne {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 2;
  width: 100%;
}

form {
  padding: 30px;
  display: flex;
  flex-direction: column;
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start: 1;
  background-color: black;
  border-bottom: red solid 3px;
  height: auto;
  width: 500px;
}
label {
  font-size: 20px;
  color: white;
  flex: 1;
}

.location-para {
  text-align: center;
  font-size: 23px;
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 3;
  grid-row-end: 4;
  width: 800px;
}

.contactUs-container {
  display: flex;
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 1;
  margin-top: 50px;
}
input[type='text'],
input[type='email'],
textarea {
  flex: 1;
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border-bottom: 3px solid red;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type='submit'] {
  flex: 1;
  width: 100%;
  padding: 20px;
  border: none;
  border-radius: 4px;
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

input[type='submit']:hover {
  background-color: #0056b3;
}
label {
  display: block;
  margin-bottom: 5px;
}

.imgTwo {
  grid-column-start: 2;
}

.aboutUs {
  align-self: center;
  justify-content: center;
  grid-column-start: 2;
  grid-column-end: 3;
  left: 0;
  right: 0;
  font-size: 20px;
  padding: 20px;
  width: inherit;
}

.logo {
  width: 300px;
  height: auto;
  max-height: 250px;
  margin-top: 10px;
  align-self: center;
  justify-self: start;
}

.sectionTwo {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 1;
  display: flex;
  align-items: center;
  gap: 25px;
  padding-bottom: 20px;
}
.sectionThreeRight {
  flex: 1;
}

.menu-item {
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 20px;
  background-color: black;
  border-bottom: rgb(200, 45, 45) solid 3px;
}
.menu-text {
  text-align: left;
  color: white;
  font-size: 18px;
  width: 300px;
}
.menu-container {
  display: grid;
  justify-items: center;
  gap: 10px;
  grid-template-columns: 1fr 1fr 1fr;
  min-width: 1000px;
  grid-row-start: 1;
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-end: 3;
}

.menu-price {
  color: rgb(200, 45, 45);

  text-align: left;
}

.aboutHeader {
  font-size: 35px;
  margin-left: 40px;
}
.aboutDoneys {
  font-size: 20px;
  padding: 20px;
  width: 700px;
  margin-left: 40px;
}
.sectionThree {
  display: flex;
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 2;
  align-items: center;
  width: 1000px;
  gap: 40px;
  margin-left: -150px;
}

.ingredientImg {
  width: 100%;
  height: 600px;
  margin-right: auto;
  flex: 1;
}

.drink-header,
.menu-header,
.hour-header {
  max-height: 100px;
  margin: 20px;
}

.drink-header {
  grid-column-start: 1;
  grid-row-start: 1;
}

.menu-header {
  grid-column-start: 2;
  grid-row-start: 1;
}

.hour-header {
  grid-column-start: 3;
  grid-row-start: 1;
}

.menu-container {
  grid-column-start: 2;
  grid-row-start: 2;
  grid-row-end: 3;
}
.drinks-container {
  grid-column-start: 1;
  grid-row-start: 2;
}

.sectionOne {
  gap: 20px;
  width: 400px;
}
